<form action="/create_comment_from_trip_detail" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @comment.user_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="body">
      Body
    </label>

    <input type="text" id="body" name="body" class="form-control" value="<%= @comment.body %>">
  </div>

  <input type="hidden" name="detail_id" value="<%= @trip_detail.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>
