<!-- Form like start -->
<form action="/create_like_from_trip_detail" method="post">
<!-- Form like end -->

  <!-- Label and input for detail_id start -->
  <!-- Input for detail_id start -->
  <input type="hidden" name="detail_id" value="<%= @trip_detail.id %>">
  <!-- Input for detail_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @like.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>
