<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Trip Details

    <a data-toggle="collapse" href="#trip_trip_details_new_form">
      Add trip detail
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @trip.trip_details.each do |trip_detail| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/trip_details/<%= trip_detail.id %>">
          <%= trip_detail.trip_id %>
        </a>

        <a href="/delete_trip_detail_from_trip/<%= trip_detail.id %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="trip_trip_details_new_form">
        <%= render partial: "trip_templates/trip_trip_details_new_form" %>
      </div>
    </div>

  </ul>
</div>
