<!-- Validation failure messages -->
<% if @like.present? %>
  <% if @like.errors.any? %>
    <% @like.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new like
</h1>


<hr>

<!-- Form like start -->
<form action="/create_like" method="post">
<!-- Form like end -->

  <!-- Label and input for detail_id start -->
  <div class="form-group">
    <label for="detail_id">
      Detail
    </label>

    <!-- Input for detail_id start -->
    <%= select_tag(:detail_id, options_from_collection_for_select(TripDetail.all, :id, :trip_id, @like.detail_id), :class => "form-control") %>
    <!-- Input for detail_id end -->
  </div>
  <!-- Label and input for detail_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @like.user_id %>">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create like
  </button>
</form>

<hr>

<a href="/likes">
  Go back
</a>
